<form [formGroup]="seekerLoginForm" style="margin: 12px;
display: flex;
flex-direction: column;
align-items: center;
background: #EAEAEA;padding: 16px;">
    <img src="assets/single_user.png" id="icon" alt="User Icon" style="width: 50%;" />
    <mat-form-field style="margin-bottom: 20px;">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required>
        <mat-icon matSuffix>account_circle</mat-icon>
        <mat-error *ngIf="seekerLoginForm.controls['email'].hasError('required')">User email is mandatory
            field</mat-error>
    </mat-form-field>
    <mat-form-field style="margin-bottom: 36px;">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error *ngIf="seekerLoginForm.controls['email'].hasError('required')">Password is mandatory
            field</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="recruiterLogin()">Login</button>
</form>